# Ignore virtual environment and environment files
venv/
env/
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore data files
data/
*.csv

# Ignore Jupyter Notebook  checkpoints
.ipynb_checkpoints/

# Ignore model outputs and reports
model/
reports/
*.pkl
*.png
*.pdf

#ignore les mlruns
mlruns/